@media screen and (max-width: 990px) {
    .header h1 ,.body h1{
        font-size: 20px;
    }

  }
@media screen and (max-width: 864px) {
   h3{
    font-size: 15px;
   }


  }
@media screen and (max-width: 600px) {
    .header h1, .body h1 {
        font-size: 15px;
    }


  }
@media screen and (max-width: 550px) {
    .center{
        flex-direction: column;
    }
    .box ,select{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
    }
    .card-payer{
        width: 100%;
        margin-bottom: 15px;
    }
    #city-name{
        font-size: 30px;
    }

        main {
            overflow: auto;
            background-position: left -6px bottom -6px;
            background-size: contain;
        }
    }



  }
